<div class="round">
  <h3>Persoonsgegevens</h3>
  <div>
    Employeenumber: <%= @employee.number %>
  </div>
  <div>
    name: <%= @employee.name %>
  </div>
  <div>
    Sex:
  </div>
  <div>
    Birthday:
  </div>
  <div>
    Address
  </div>

  <h3>Contractgegevens</h3>
      <% @employee.contracts.each do |c| %>
      <div class="contract">
        <div>
          <b><%= link_to "#{c.function.name}", contract_url(c) %></b> <%= link_to "Evaluate", new_contract_evaluation_url(c) %>

        </div>
          <div>
            Start: <%= c.start %>
          </div>
          <div>
            End: <%= c.end %>
          </div>
          <div>
            Replaces: <% c.replacing.each do |r| %>
                                <%= link_to "#{r.employee.name}", employee_url(r.employee.id) %>
                            <% end %>
          </div>
          <div>
            Replaced by: <% c.replacers.each do |r| %>
                                    <%= link_to "#{r.employee.name}", employee_url(r.employee.id) %>
                                <% end %>
          </div>
          <div>
            Last Evaluation: <% if e = c.evaluations.last %>
                                        <span><%= "#{e.date}: #{e.result} (evaluated by:" %> <%= link_to e.evaluator.name, employee_url(e.evaluator.id) %><%= ")" %></span>
                                    <% else %>
                                        <span>Not yet evaluated</span>
                                    <% end %>
          </div>
      </div>
      <% end %>
    </table>
</div>