<h1>New Diploma</h1>
<%= form_for @diploma do |f| %>
    <div class="field">
      <%= f.label :diploma_degree %>
      <%= f.select(:degrees_id, Degree.all.collect{|dd| [dd.name, dd.id]}, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit :save %>
    </div>
<% end %>