<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :birthday %>
  <%= f.date_select :birthday, {:include_blank => true, :start_year => Time.now.year - 120, :end_year => Time.now.year} %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
<div class="field">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
  <%= f.label :town %>
  <%= f.text_field :town %>
</div>
<div class="field">
  <%= f.label :national_number %>
  <%= f.text_field :national_number %>
</div>
<div class="field">
  <%= f.label :account %>
  <%= f.text_field :account %>
</div>
<div class="field">
  <%= f.label :info %>
  <%= f.text_area :info %>
</div>