<div id="replacements">
<%= render :partial => 'replacement', :collection => contract.replacement_contracts %>
</div>
<%= add_replacement_link "Add replacement" %>

<div class="field">
  <%= f.label :number %>
  <%= f.text_field :number %>
</div>
<div class="field">
  <%= f.label :function %>
  <%= f.select(:function_id, Function.all.collect {|function| [ function.name, function.id ]}, {:include_blank => true}) %>
</div>
<div class="field">
  <%= f.label :employee %>
  <%= f.select(:employee_id, Employee.all.collect {|e| [ e.name_with_employee_number, e.id ]}, {:include_blank => true}) %>
</div>
<div class="field">
  <%= f.label :start_date %>
  <%= f.date_select :start, {:include_blank => true} %>
</div>
<div class="field">
  <%= f.label :end_date %>
  <%= f.date_select :end, {:include_blank => true} %>
</div>
<div class="field">
  <%= f.label :performance %>
  <%= f.text_field :performance %>
</div>