<% replacement.replaced.nil? ? form_object = Contract.new : form_object = replacement.replaced %>
<div class="replacement">
    <%= fields_for "contract[replaced_contracts][]", form_object do |contract_replacement_form| %>
        <div class="field">
        <%= contract_replacement_form.label :replaces %>
          <%= contract_replacement_form.select(:id, Contract.all.collect {|p| [ p.description, p.id ] }, {:include_blank => true}, :index => nil) %>
          <% if form_object.new_record? %>
            <%= link_to_function "remove", "this.up('.replacement').remove()" %>
          <% else %>
            <%= link_to_function "remove", "mark_for_destroy(this)" %>
            <%= contract_replacement_form.hidden_field :replacement_id, :value => replacement.id, :index => nil %>
            <%= contract_replacement_form.hidden_field :should_destroy_replacement, :index => nil, :class => "should_destroy" %>
          <% end %>
        </div>
    <% end %>
</div>